<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xác nhận đặt tour</title>
</head>
<body>
<h1>Xác nhận đặt tour thành công</h1>
<!--<p>Xin chào <span th:text="${booking.userId.fullName}"></span>,</p>-->
<p>Cảm ơn bạn đã đặt tour với chúng tôi. Dưới đây là thông tin đặt tour của bạn:</p>

<ul>
    <li>Mã booking: <strong th:text="${booking.id}"></strong></li>
    <li>Ngày đặt: <span th:text="${bookingDate}"></span></li>
    <li>Thời hạn thanh toán: <span th:text="${paymentDueTime}"></span></li>
</ul>

<p>Vui lòng thanh toán trước thời hạn để hoàn tất đặt tour.</p>
<p>Trân trọng,</p>
<p>Đội ngũ hỗ trợ</p>

</html>