.booking_guide_container {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap : 20px;
    padding : 70px;
}
.booking_cards{
    display: flex;
    position: relative;
    background-color: #FEE2B6;
    padding : 20px 50px 20px 50px;
    border-radius: 40px;
    flex-direction: column;
    overflow: hidden;
}
.card_create_1,
.card_create_2,
.card_create_3{
    position: relative;
    /* background-color: var(--primary-color); */
    border-radius: 40px;
    height: 450px;
    padding : 20px;
}

.card_create_1 h3,
.card_create_2 h3,
.card_create_3 h3{
    font-size: 1.3em;
    color : #fff;
}
.card_create_1 h4,
.card_create_2 h4,
.card_create_3 h4{
    line-height: 50px;
    font-weight: 400;
    color : #fff;
}
.search_booking{
    display: flex;
    align-items: center;
}
.search_booking input[type="text"]{
    padding : 15px;
    border-radius: 15px;
    outline: none;
    width: 300px;
    position: relative;
    padding-right: 50px;
    border: none;
}
.search_booking input::placeholder{
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
}
.search_booking .fa-arrow-right{
    position: absolute;
    right: 0;
    padding: 14px;
    margin-right: 20px ;
    color : var(--primary-color);
}
.details_create{
    display: flex;
    position: relative;
    margin-top: 20px;
    color : #fff;
}
.details_create ul{
    position: relative;
}
.details_create ul li{
    list-style : none;
    margin-top: 10px;
}
.details_create .infor{
    display: flex;
    align-items: center;
    gap : 10px;
}
.details_create .infor .fa-circle-dot{
    color : #fff;
}
.details_create .infor span{
    font-weight: 600;
}
.details_create ul li p{
    margin-left: 25px;
    opacity: 0.8;
    line-height:30px
}
.booking_prices{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* margin-top: 30px; */
    padding : 20px 20px;
    position: absolute;
    width: 340px;
    bottom: 0;
    left: 0;
}
.booking_prices h4{
    font-size: 1.8em;
    font-weight: 700;
    color : #333;
}
.booking_prices span{
    font-weight: 600;
}
/*.booking_slides {*/
/*    display: flex;*/
/*    justify-content:center;*/
/*    align-items:center;*/
/*    gap : 30px;*/
/*    margin: 30px 0;*/
/*}*/
/*.booking_slides a {*/
/*    text-decoration: none;*/
/*    font-weight: 500;*/
/*    color : #333;*/
/*    animation: slide 4s infinite;*/
/*}*/
/*.booking_slides i{*/
/*    !* background-color: ; *!*/
/*    padding: 5px;*/
/*    border-radius: 50%;*/
/*}*/
/*.booking_slides i:hover{*/
/*    background-color: rgb(212, 184, 119);*/
/*}*/
/*.booking_slides a span{*/
/*    color : blue;*/
/*}*/
.booking_steps{
    display: flex;
    flex-direction: column;
    gap : 20px;
    width: 500px;
}
.booking_steps h2{
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 20px;
}
.booking_steps p{
    opacity: 0.9;
    line-height: 25px;
}
.details_steps{
    position: relative;
    border-bottom: 2px dashed #d1cdcd;
    padding-bottom: 20px;
}
.details_steps ul{
    position: relative;
}
.details_steps ul li{
    list-style: none;
}
.details_steps ul li:nth-child(2),
.details_steps ul li:nth-child(3){
    list-style : none;
    margin-top : 30px;
}
.details_steps .infor_booking{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 10px;
}
.details_steps .infor_booking .fa-circle-dot{
    color : var(--primary-color);
}
.details_steps .infor_booking span{
    font-weight: 700;
    margin-left: 10px;
}
.step_advice p i{
    font-weight: 500;
    color : #555;
    opacity: 0.8;
}
.users_booking{
    display: flex;
    gap : 20px;
    align-items: center;
}
.details_user{
    display: flex;
    flex-direction: column;
    gap : 10px;
}
.details_user span{
    color: #555;
    opacity: 0.7;
    letter-spacing: 0.1em;
}

.card_create_1 {
    background-color: #ff6347;
    /* animation: slide 10s ease-in-out infinite; */
    /* animation-delay: 3s; */
    /* z-index: 9; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.card_create_2 {
    background-color: hsl(223, 99%, 61%);
    /* animation: slide 10s ease-in-out infinite; */
    /* animation-delay: 6s; */
    /* z-index: 99; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.card_create_3 {
    background-color: #b9c14b;
    /* animation: slide 10s ease-in-out infinite; */
    /* animation-delay: 9s; */
    /* z-index: 999; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


.slideshow_container {
    position: relative;
    width: 440px;
    height: 576px;
    overflow: hidden;
}

.prev,
.next {
    width: 30px;
    height: 30px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50%;
    text-align: center;
}

.prev:focus,
.next:focus {
    outline: none;
    color: #fff;
    background:grey;
}