
.search_box{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
}
.search_box input{
    padding:12px 15px;
    width: 470px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #f1f3f7da;
}
.search_box input[type="text"]{
    padding-left: 40px;
    font-size: 1.1em;
}
.search_box input[type="text"]:focus{
    background-color: #fff;
}
.search_box i{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.4em;
    color: #555;
}


.service-select ul li {
    list-style: none;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 8px 10px;
    transition : 0.5s ease;
}
.service-select ul li:hover {
    background-color:rgb(232, 229, 229);
}
.service-select ul li a{
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}
.service-select ul li:first-child{
    background-color: #555;
}
.service-select ul li:first-child a span,
.service-select ul li:first-child a i
{
    color: #fff;
}
.service-select ul li:first-child::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom : 0;
    background-color: #555;
    transform: translateY(50%) rotateZ(45deg);
}


.service_ques label{
    display:flex;
    align-items: center;
    justify-content:space-between;
    border: 1px solid #c9c1c1;
    padding: 15px;
    border-radius: 3px;
    transition: all 0.5s ease;
    color: #757171;
}
.service_ques label:hover{
    color: #3B71FE;
}


.faq-select ul li{
    list-style: none;
    border: 1px solid #555;
    padding: 8px 10px;
    border-radius: 3px;
}
.faq-select ul li a{
    text-decoration: none;
    color: #555;
}

.faq-select ul li:hover{
    background-color: rgba(224, 224, 240, 0.811);
}
.faq-select ul li a:hover{
    color: #3B71FE;
}
.infor_adds{
    background-image: linear-gradient(to right , transparent , #3B71FE);
}


.help_left h2{
    font-size: 2em;
}
.help_left label{
    border: 1px solid #fff;
    padding: 15px 13px;
    width: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.help_right .subject input, .help_right .infor_name input{
    padding: 15px 4px;
    color: #555;
    outline: none;
    border: none;
    background-color: rgba(235, 235, 247, 0.491);
    border-radius: 3px;
}
.help_right label span{
    font-size: 1.2em;
    font-weight: 600;
    color: #555;
}
.infor_name{
    display: flex;
    align-items: center;
    gap: 20px;
}
.infor_name label,
.subject ,
.mess
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.infor_name input{
    width: 270px;
}
.subject input{
    width: 560px;
}

.mess textarea{
    max-height: 100px;
    overflow-y: auto;
    max-width: 560px;
    background-color: rgba(235, 235, 247, 0.491);
    border-radius: 2px;
    outline: none;
    border: none;
}